body {
	display:: inline-block;
	text-align: center;
	border:3px solid #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	resize: both;
	margin: 0 auto;
	width: 400px;
	letter-spacing: 2px;
	color: #404040;
	position: center;
	padding: 100px 20px;

}

.main-content {
  position: fixed;
  top: 30%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.content-box {
  border: 1px solid black;
  border-radius: 25px;
  padding: 15px 8px;
  font-size: 20px;
}

/* Full-width inputs */
input[type=text], input[type=password] 
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ffffff;
    box-sizing: border-box;
	text-align: center;
	background-color: #f2f2f2;
}

input[type=submit]
{
	background-color: #555555;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
	color: white;
	cursor: pointer;
	margin: 5px;
	padding:10px 20px;
	text-align: center;
	display:inline-block;
	font-size: 12px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

input[type=text]:hover
{
    transition: 0.3s;
    border-color: #555555;
}

input[type=password]:hover
{
    transition: 0.3s;
    border-color: #555555;
}

.title-text{
  font-size: 30px;
  font-weight: bold;
  padding: 10px 20px;
}

.create-text {
  font-size: 23px;
  font-weight: bold;
}

.link-button{
  	background-color: #555555;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
	color: white;
	cursor: pointer;
	margin: 5px;
	padding:10px 20px;
	text-align: center;
	display:inline-block;
	font-size: 12px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
